<div class="sidebarOpened" [ngStyle]="{'left': (isSidebarOpen) ? '340px' : '10px'}">
    <button (click)="onClickOpenCloseSidebar()" pButton pRipple type="button" style="margin-right: 5px;" icon="pi pi-align-justify" class="p-button-rounded "></button>
    <button pButton pRipple type="button" style="margin-right: 5px;" icon="pi pi-reddit" class="p-button-rounded "></button>
    <button pButton pRipple type="button" style="margin-right: 5px;" icon="pi pi-refresh" class="p-button-rounded "></button>
    <button pButton pRipple type="button" style="margin-right: 5px;" icon="pi pi-stop" class="p-button-rounded "></button>
    <button pButton pRipple type="button" style="margin-right: 5px;" icon="pi pi-trash" class="p-button-rounded "></button>
</div>
