<p-splitter [style]="{'height': '100%'}" [panelSizes]="[65,35]">
    <ng-template pTemplate>
        <div class="col flex align-items-center justify-content-center" style="width: 100%;height: 100%;">
            <bg-map>
                <ng-container *ngFor="let service of services">
                    <bgTileLayer *ngIf="service.type === 'VECTOR'" [url]="service.url">
                        <bgLayer *ngFor="let layer of service.layers" [visible]="layer.visible"
                            [layerName]="layer.name"></bgLayer>
                    </bgTileLayer>
                </ng-container>

            </bg-map>
        </div>
    </ng-template>
    <ng-template pTemplate>
        <div style="height:100%;width: 100%;display: flex;flex-direction: column;">
            <div style="height:50%;background-color: aqua;">
                <bg-pano>
                    <ng-container *ngFor="let service of services">
                        <ng-container *ngIf="service.type === 'VECTOR'">
                            <bg-pano-wfsLayer *ngFor="let layer of service.layers" [url]="service.url"
                                [name]="layer.name" [visible]="layer.visible">
                            </bg-pano-wfsLayer>
                        </ng-container>
                    </ng-container>
                </bg-pano>
            </div>
            <div style="height:50%;background-color: brown;">
                <bg-threed>
                    <ng-container *ngFor="let service of services">
                        <ng-container *ngIf="service.type === 'VECTOR'">
                            <bg-geojson-layer *ngFor="let layer of service.layers" [url]="service.url"
                            [name]="layer.name" [visible]="layer.visible"></bg-geojson-layer>
                        </ng-container>
                    </ng-container>
                </bg-threed>
            </div>
        </div>
    </ng-template>
</p-splitter>