<p-splitter [style]="{'height': '100%'}" [panelSizes]="[65,35]">
    <ng-template pTemplate>
        <div class="col flex align-items-center justify-content-center" style="width: 100%;height: 100%;">
            <bg-map>
                <ng-container *ngFor="let service of services">
                    <bgTileLayer *ngIf="service.type === 'VECTOR'" [url]="service.url">
                        <bgLayer *ngFor="let layer of service.layers" [visible]="layer.visible" [layerName]="layer.name"></bgLayer>
                    </bgTileLayer>
                </ng-container>

            </bg-map>
        </div>
    </ng-template>
    <ng-template pTemplate>
        <p-splitter layout="vertical">
            <ng-template pTemplate>
                <div class="col flex align-items-center justify-content-center">
                    PANO
                </div>
            </ng-template>
            <ng-template pTemplate>
                <div class="col flex align-items-center justify-content-center">
                    3D
                </div>
            </ng-template>
        </p-splitter>
    </ng-template>
</p-splitter>