/* You can add global styles to this file, and also import other style files */
@import url('primeicons/primeicons.css');
@import url('primeng/resources/themes/vela-orange/theme.css');
@import url('primeng/resources/primeng.min.css');
@import url('ol/ol.css');

html , body {
    height: 100%;
    width: 100%;
    margin: 0;
}